In [1]:
from collections import Counter

import pandas as pd
import numpy as np

In [2]:
clinical = pd.read_csv('data/clinical.tsv', sep='\t', index_col='ID')

genefpkm = pd.read_csv('data/gene_count.tsv', sep='\t', index_col='ID')

pd.DataFrame({'Rows': [genefpkm.shape[0], clinical.shape[0]], 
              'Columns': [genefpkm.shape[1], clinical.shape[1]]}, index=['GENEFPKM', 'CLINICAL'])

          Rows  Columns
GENEFPKM   769    27777
CLINICAL  1110       13

In [3]:
joined = clinical.join(genefpkm, how='inner')

pd.DataFrame({'Rows': [joined.shape[0]], 
              'Columns': [joined.shape[1]]}, index=['JOINED'])

        Rows  Columns
JOINED   749    27790

In [4]:
pd.DataFrame(dict(Counter(joined['therapy_first_line_class'])), index=['Count'])

,nan,Combined bortezomib/IMIDs-based,Bortezomib-based,IMIDs-based,Combined bortezomib/IMIDs/carfilzomib-based,Combined IMIDs/carfilzomib-based,Carfilzomib-based,Combined bortezomib/carfilzomib-based
Count,39,351,146,39,20,113,40,1

In [5]:
pd.DataFrame(Counter(joined['response_best_response_first_line'].replace(np.nan, 'nan')), index=['Count'])

       0.0  1.0  nan
Count  553  171   25

In [6]:
pd.DataFrame(Counter(joined['response_days_to_disease_progression'].replace(np.nan, 'nan')), index=['Count'])

       0.0  1.0  nan
Count  196  177  376

In [7]:
df_dtdp = clinical.copy()

del df_dtdp['response_best_response_first_line']

df_dtdp = df_dtdp.loc[~df_dtdp['response_days_to_disease_progression'].isnull()]

df_dtdp.to_csv('data/clinical_dtdp.tsv', sep='\t', index=True)

pd.DataFrame(Counter(df_dtdp['response_days_to_disease_progression'].replace(np.nan, 'nan')), index=['Count'])

       0.0  1.0
Count  300  260

In [8]:
df_brfl = clinical.copy()

del df_brfl['response_days_to_disease_progression']

df_brfl = df_brfl.loc[~df_brfl['response_best_response_first_line'].isnull()]

df_brfl.to_csv('data/clinical_brfl.tsv', sep='\t', index=True)

pd.DataFrame(Counter(df_brfl['response_best_response_first_line'].replace(np.nan, 'nan')), index=['Count'])

       0.0  1.0
Count  823  248

In [9]:
pd.DataFrame(Counter(df_brfl['therapy_first_line_class']), index=['Count'])

,Combined bortezomib/IMIDs-based,Combined bortezomib/IMIDs/carfilzomib-based,IMIDs-based,nan,Bortezomib-based,Combined IMIDs/carfilzomib-based,Carfilzomib-based,Combined bortezomib/carfilzomib-based
Count,539,34,56,58,177,153,52,2

In [10]:
pd.DataFrame(Counter(df_dtdp['therapy_first_line_class']), index=['Count'])

,Combined bortezomib/IMIDs-based,IMIDs-based,nan,Bortezomib-based,Combined bortezomib/IMIDs/carfilzomib-based,Combined IMIDs/carfilzomib-based,Carfilzomib-based,Combined bortezomib/carfilzomib-based
Count,276,42,57,131,17,27,9,1